<html ng-app="randomGHRepos">
<head>
  <title>Query Random Repositories from GitHub</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
  <body class="container">
    <div class="container">
      <div class="header">
        <h3>Query Random Repositories from GitHub</h3>
      </div>
      <div class="main col-lg-10" ng-controller="RepoListCtrl" ng-init="querySearchAPI()">
        <button ng-click="querySearchAPI()" class="start-search-button">Random JS Repos Using Search API</button>
        <button ng-click="queryRepositoriesAPI()" class="start-search-button">Random Repos Using Repositories API</button>
        <div class="result-container">
          <div class="loading-indicator-container" ng-hide="repos"><img src="loading-indicator.gif"></div>
          <div ng-hide="!repos || repos.length == 0" class="result-info"><span>{{repos.length}} results</span><span>({{currentDate | date:'MM/dd HH:mm:ss'}})</span></div>
          <ul class="repos list-group">
	    <li ng-repeat="repo in repos" class="list-group-item">
	      <div class="repo">
		<div>
		  <h4><a href="{{repo.html_url}}">{{repo.full_name}}</a></h4>
                  <ul class="basic-info">
		    <li ng-hide="!repo.language">{{repo.language}}</span></li>
		    <li ng-hide="!repo.size">{{repo.size}} KBytes</span></li>
		    <li ng-hide="!repo.created_at || !repo.updated_at">
                       <span class="title">Since</span>{{repo.created_at}} (last updated at {{repo.updated_at}})</span>
                    </li>
                  </ul>
		</div>
		<p ng-hide="!repo.description">{{repo.description}}</p>
		<div ng-hide="!repo.homepage"><span class="label label-default label-url">URL</span><a href="{{repo.homepage}}">{{repo.homepage}}</a></div>
              </div>
	    </li>
	  </ul>
      </div>
      </div>
    </div>
  </body>
</html>
