<html ng-app="randomGHRepos">
<head>
  <title>Query Random Repositories from GitHub</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
  <body class="container">
    <div class="container">
      <div class="header">
        <h3>Query Random Repositories from GitHub</h3>
      </div>
      <div class="main col-lg-10" ng-controller="RepoListCtrl" ng-init="querySearchAPI()">
        <button ng-click="querySearchAPI()" class="start-search-button">Random Repos Using Search API</button>
        <span class="language-select">
          <select id="languages" ng-model="language" ng-change="querySearchAPI()">
            <option value="">All Languages</option>
            <option value="ABAP">ABAP</option>
            <option value="ActionScript">ActionScript</option>
            <option value="Ada">Ada</option>
            <option value="Apex">Apex</option>
            <option value="AppleScript">AppleScript</option>
            <option value="Arc">Arc</option>
            <option value="Arduino">Arduino</option>
            <option value="ASP">ASP</option>
            <option value="Assembly">Assembly</option>
            <option value="Augeas">Augeas</option>
            <option value="AutoHotkey">AutoHotkey</option>
            <option value="Awk">Awk</option>
            <option value="Boo">Boo</option>
            <option value="Bro">Bro</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="C++">C++</option>
            <option value="Ceylon">Ceylon</option>
            <option value="CLIPS">CLIPS</option>
            <option value="Clojure">Clojure</option>
            <option value="COBOL">COBOL</option>
            <option value="CoffeeScript">CoffeeScript</option>
            <option value="ColdFusion">ColdFusion</option>
            <option value="Common Lisp">Common Lisp</option>
            <option value="Coq">Coq</option>
            <option value="CSS">CSS</option>
            <option value="D">D</option>
            <option value="Dart">Dart</option>
            <option value="DCPU-16 ASM">DCPU-16 ASM</option>
            <option value="DOT">DOT</option>
            <option value="Dylan">Dylan</option>
            <option value="eC">eC</option>
            <option value="Ecl">Ecl</option>
            <option value="Eiffel">Eiffel</option>
            <option value="Elixir">Elixir</option>
            <option value="Elm">Elm</option>
            <option value="Emacs Lisp">Emacs Lisp</option>
            <option value="Erlang">Erlang</option>
            <option value="F#">F#</option>
            <option value="Factor">Factor</option>
            <option value="Fancy">Fancy</option>
            <option value="Fantom">Fantom</option>
            <option value="Forth">Forth</option>
            <option value="FORTRAN">FORTRAN</option>
            <option value="Go">Go</option>
            <option value="Gosu">Gosu</option>
            <option value="Groovy">Groovy</option>
            <option value="Haskell">Haskell</option>
            <option value="Haxe">Haxe</option>
            <option value="Io">Io</option>
            <option value="Ioke">Ioke</option>
            <option value="J">J</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Julia">Julia</option>
            <option value="Kotlin">Kotlin</option>
            <option value="Lasso">Lasso</option>
            <option value="LiveScript">LiveScript</option>
            <option value="Logos">Logos</option>
            <option value="Logtalk">Logtalk</option>
            <option value="Lua">Lua</option>
            <option value="M">M</option>
            <option value="Markdown">Markdown</option>
            <option value="Matlab">Matlab</option>
            <option value="Max">Max</option>
            <option value="Mirah">Mirah</option>
            <option value="Monkey">Monkey</option>
            <option value="MoonScript">MoonScript</option>
            <option value="Nemerle">Nemerle</option>
            <option value="Nimrod">Nimrod</option>
            <option value="Nu">Nu</option>
            <option value="Objective-C">Objective-C</option>
            <option value="Objective-J">Objective-J</option>
            <option value="OCaml">OCaml</option>
            <option value="Omgrofl">Omgrofl</option>
            <option value="ooc">ooc</option>
            <option value="Opa">Opa</option>
            <option value="OpenEdge ABL">OpenEdge ABL</option>
            <option value="Parrot">Parrot</option>
            <option value="Pascal">Pascal</option>
            <option value="Perl">Perl</option>
            <option value="PHP">PHP</option>
            <option value="Pike">Pike</option>
            <option value="PogoScript">PogoScript</option>
            <option value="PowerShell">PowerShell</option>
            <option value="Processing">Processing</option>
            <option value="Prolog">Prolog</option>
            <option value="Puppet">Puppet</option>
            <option value="Pure Data">Pure Data</option>
            <option value="Python">Python</option>
            <option value="R">R</option>
            <option value="Racket">Racket</option>
            <option value="Ragel in Ruby Host">Ragel in Ruby Host</option>
            <option value="Rebol">Rebol</option>
            <option value="Rouge">Rouge</option>
            <option value="Ruby">Ruby</option>
            <option value="Rust">Rust</option>
            <option value="Scala">Scala</option>
            <option value="Scheme">Scheme</option>
            <option value="Scilab">Scilab</option>
            <option value="Self">Self</option>
            <option value="Shell">Shell</option>
            <option value="Slash">Slash</option>
            <option value="Smalltalk">Smalltalk</option>
            <option value="Squirrel">Squirrel</option>
            <option value="Standard ML">Standard ML</option>
            <option value="SuperCollider">SuperCollider</option>
            <option value="Tcl">Tcl</option>
            <option value="Turing">Turing</option>
            <option value="TXL">TXL</option>
            <option value="TypeScript">TypeScript</option>
            <option value="Vala">Vala</option>
            <option value="Verilog">Verilog</option>
            <option value="VHDL">VHDL</option>
            <option value="VimL">VimL</option>
            <option value="Visual Basic">Visual Basic</option>
            <option value="Volt">Volt</option>
            <option value="wisp">wisp</option>
            <option value="XC">XC</option>
            <option value="XML">XML</option>
            <option value="XProc">XProc</option>
            <option value="XQuery">XQuery</option>
            <option value="XSLT">XSLT</option>
            <option value="Xtend">Xtend</option>
          </select>
        </span>
        <button ng-click="queryRepositoriesAPI()" class="start-search-button">Random Repos Using Repositories API</button>
        <div class="result-container">
          <div class="loading-indicator-container" ng-hide="repos"><img src="loading-indicator.gif"></div>
          <div class="filters" ng-hide="!repos || repos.length == 0">
            Project with 
            <span class="filter">description<input type="checkbox" ng-model="descriptionFilter"></span>
            <span class="filter">URL<input type="checkbox" ng-model="urlFilter"></span>
          </div>
          <div ng-hide="!repos || repos.length == 0" class="result-info"><span>{{(repos | filter:filter).length}} results</span><span>({{currentDate | date:'MM/dd HH:mm:ss'}})</span></div>
          <ul class="repos list-group">
	    <li ng-repeat="repo in repos | filter:filter" class="list-group-item">
	      <div class="repo">
		<div>
		  <h4><a href="{{repo.html_url}}">{{repo.full_name}}</a></h4>
                  <ul class="basic-info">
		    <li ng-hide="!repo.language">{{repo.language}}</span></li>
		    <li ng-hide="!repo.size">{{repo.size}} KBytes</span></li>
		    <li ng-hide="!repo.created_at || !repo.updated_at">
                       <span class="title">Since</span>{{repo.created_at | date:'yyyy/MM/dd'}} (last updated at {{repo.updated_at | date:'yyyy/MM/dd HH:mm'}})</span>
                    </li>
                  </ul>
		</div>
		<p ng-hide="!repo.description">{{repo.description}}</p>
		<div ng-hide="!repo.homepage"><span class="label label-default label-url">URL</span><a href="{{repo.homepage}}">{{repo.homepage}}</a></div>
              </div>
	    </li>
	  </ul>
      </div>
      <hr>
      <a href="https://github.com/daisy1754/random-gh-repos">View on GitHub (daisy1754/random-gh-repos)</a>
    </div>
  </body>
</html>
